@page "/fetchdata"
@using Atlas.Reporting.UI.Shared.DTOs

@inject HttpClient HttpClient
@inject IJSRuntime Js
<h3>Filter ReportDTo</h3>

<div class="form-group">
    <RadzenFormField Text="Vendor Code:" Style="width: 100%;">
        <RadzenTextBox @bind-Value="@vendorCode" Style="width: 100%;" />
    </RadzenFormField>
</div>

<div class="form-group">
    <label for="startDatePicker">start Date:</label>
    <RadzenDatePicker TValue="DateTime?" @bind-Value=@startDate Change="@(args => startDate =  args)" />
</div>

<div class="form-group">
    <label for="endDatePicker">end Date:</label>
    <RadzenDatePicker TValue="DateTime?" @bind-Value="@endDate" Change="@(args => endDate =  args)" />
</div>

<div class="form-group">
    <label for="endDatePicker">Snapp Is Active:</label>
    <RadzenDropDown TValue="bool?" @bind-Value="snappIsActive" Data="@snappIsActiveOptions" TextProperty="Text" ValueProperty="Value" />
</div>

<div class="form-group">
    <RadzenFormField Text="Brand ID:" Style="width: 100%;">
        <RadzenTextBox @bind-Value="@brandId" Style="width: 100%;" />
    </RadzenFormField>
</div>

<button class="btn btn-primary" @onclick="ViewReport">View Report</button>
<button class="btn btn-primary" @onclick="DownloadExcel">Export (Order Count)</button>

@if (ReportDTos != null)
{
    <RadzenDataGrid Data="@ReportDTos" TItem="ReportDto" GridLines="@GridLines">
        <Columns>
            <RadzenDataGridColumn TItem="ReportDto" Property="Raw" Title="Raw" />
            <RadzenDataGridColumn TItem="ReportDto" Property="BrandId" Title="Brand ID" />
            <RadzenDataGridColumn TItem="ReportDto" Property="ClientId" Title="Client ID" />
            <RadzenDataGridColumn TItem="ReportDto" Property="VendorName" Title="VendorName" />
            <RadzenDataGridColumn TItem="ReportDto" Property="LastPing" Title="LastPing" />
            <RadzenDataGridColumn TItem="ReportDto" Property="Total" Title="Total" />
            <RadzenDataGridColumn TItem="ReportDto" Property="SnappFood" Title="SnappFood" />
            <RadzenDataGridColumn TItem="ReportDto" Property="Salon" Title="Salon" />
            <RadzenDataGridColumn TItem="ReportDto" Property="SnappIsActive" Title="SnappIsActive" />
        </Columns>
    </RadzenDataGrid>
}

@code {

    DataGridGridLines GridLines = DataGridGridLines.Default;
    private string? vendorCode;
    private DateTime? startDate = DateTime.Now;
    private DateTime? endDate = DateTime.Now;
    private bool? snappIsActive;
    private string? brandId;
    private List<ReportDto> ReportDTos;
    private List<DropDownItem<bool?>> snappIsActiveOptions = new List<DropDownItem<bool?>>()
    {
        new DropDownItem<bool?> { Text = "True", Value = true },
        new DropDownItem<bool?> { Text = "False", Value = false },
        new DropDownItem<bool?> { Text = "Null", Value = null }
    };

    public class DropDownItem<T>
    {
        public string Text { get; set; }
        public T Value { get; set; }
    }
    private async Task DownloadExcel()
    {
        try
        {
            int bId;
            var isConverted = int.TryParse(brandId, out bId);
            int? id = isConverted ? bId : null;
            // فراخوانی کنترلر و دریافت فایل اکسل
            var response = await HttpClient.GetAsync($"api/Excel?vendorCode={vendorCode}&startDate={startDate}&endDate={endDate}&snappIsActive={snappIsActive}&brandId={id}");

            if (response.IsSuccessStatusCode)
            {
                byte[] fileBytes = await response.Content.ReadAsByteArrayAsync();
                string fileName = "report.xlsx";
                string mimeType = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
                await Js.InvokeVoidAsync("BlazorDownloadFile", fileName, mimeType, fileBytes);
            }
            else
            {
                  throw new Exception(ex.Message);
            }
        }
        catch (Exception ex)
        {
        }
    }

    private async Task ViewReport()
    {
        try
        {
            int bId;
            var isConverted = int.TryParse(brandId, out bId);
            int? id = isConverted ? bId : null;
            var response = await HttpClient.GetAsync($"/api/Rport?vendorCode={vendorCode}&startDate={startDate}&endDate={endDate}&snappIsActive={snappIsActive}&brandId={id}");
            if (response.IsSuccessStatusCode)
            {
                var reportDtoList = await response.Content.ReadFromJsonAsync<List<ReportDto>>();
                ReportDTos = reportDtoList;
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                throw new Exception($"Request failed: {response.StatusCode}, {errorContent}");
            }
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

}